In [3]:
import pandas as pd

In [39]:
df_consent = pd.read_csv('data/all-consents.csv')
df_actions = pd.read_csv('data/Jan2023-actions.csv')
df_page_views = pd.read_csv('data/Jan2023-page_views.csv')

/var/folders/sv/3061hw657yn5f_phb0m25d340000gn/T/ipykernel_54968/306704841.py:2: DtypeWarning: Columns (2,3,6,9,12,14,16,17,18,19,27,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,52,53,55,56,58,60,62,64,65,66,68,69,70,71,72,74,75,78,79,80,81,83,84,86,87,92,93,98,99,104,107,109,110,115,116,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,239,240,241,243,244,245,246,248,249,250,251,252,253,254,257,258,259,261,263,266,267,268,270,271,272,274,276,277,278,279,280,285,286,287,288,291,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,336,337,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,403,405,406,407,408,409,410,411,412,413,414,415,416,419,421,422,423,424,425,426,427,428,429,430,431,432,434,435,436,437,438,439,440,441,442,443,446,448,449,450,451,452,453,455,456,459,461,462,463,464,465,466,467,468,469,472,473,474,475,476,477,478,479,480,483,484,485,486,487,488,489,490,491,492,495,496,497,498,499,500,501,502,503,506,507,508,509,510,511,512,513,514,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,585,586,587,588,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,685,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,762,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,818,819,820,821,822,823,824,825) have mixed types. Specify dtype option on import or set low_memory=False.
  df_actions = pd.read_csv('data/Jan2023-actions.csv')

In [34]:
df_actions_filtered = df_actions[(df_actions['object_type'] == "User") & (df_actions["object_id"].isin(df_consent[df_consent["consent"] == True]["user"]))]
df_actions_filtered.head()

,actor,data,data.access_course_grades,data.access_submitted_course_work,data.answer,data.author,data.author_name,data.category,data.categoryId,data.category_name,...,data.who_can_join.1,data.who_can_join.2,description,object_id,object_type,status,time_created,time_modified,token_change,verb
0,381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,User logged in,381.0,User,Complete,2023-01-18T16:23:43.148139-08:00,2023-01-18T16:23:43.148155-08:00,0.0,Logged In
1,383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,User logged in,383.0,User,Complete,2023-01-18T16:24:06.960069-08:00,2023-01-18T16:24:06.960086-08:00,0.0,Logged In
2,482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,User logged in,482.0,User,Complete,2023-01-27T14:04:05.772524-08:00,2023-01-27T14:04:05.772561-08:00,0.0,Logged In
3,359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,User logged in,359.0,User,Complete,2023-03-02T13:31:30.000141-08:00,2023-03-02T13:31:30.000170-08:00,0.0,Logged In
53,35,NaN,True,True,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,User consented.,35.0,User,Complete,2023-01-04T01:39:44.692887-08:00,2023-01-04T01:39:44.692908-08:00,0.0,Completed

In [38]:
df_page_views_filtered = df_page_views[df_page_views["user"].isin(df_consent[df_consent["consent"] == True]["user"])]
df_page_views_filtered.head()

,time_created,url,user
3,2024-01-03T13:30:28.999186-08:00,/course/5/homepage,762
4,2024-01-03T13:30:36.948565-08:00,/course/5/practice,762
5,2024-01-03T13:30:41.533075-08:00,/course/5/practice/concepts,762
6,2024-01-03T13:31:10.744197-08:00,/course/5/practice/category/65?difficulty=EASY,762
7,2024-01-03T14:13:27.614226-08:00,/course/5/practice,762
...,...,...,...
585,2024-01-11T20:57:54.034971-08:00,/course/5/practice/category/93?difficulty=EASY,762
641,2024-01-12T14:19:16.644075-08:00,/,505
678,2024-01-12T15:40:41.178875-08:00,/homepage,738
1046,2024-01-15T11:31:22.423599-08:00,/course/5/practice/concepts,631
1047,2024-01-15T11:31:25.314405-08:00,/course/5/practice/category/115?difficulty=EASY,631